*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    position:absolute;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 1080px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    opacity: 1;
    

}
header{
    background: linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box,url('imge.jpg');
    position:relative;
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 480px;
    mix-blend-mode: multiply;
    opacity: 1;
    
    

    
    
}

.box1{
    position: absolute;
    left: 1015px;
    top:17px;
    width: 250px;
    height:46px;
    opacity: 1;
    
}

.login a{
    
    color:white;
    text-decoration: none;
    position:absolute;
    top:29px;
    left: 1015px;
    width: 43px;
    height: 23px;
    text-align: left;
    font: normal normal medium 16px/25px 'Poppins';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;


}
.Create a{
    position: absolute;
    top: 29px;
    left: 1099px;
    width: 152px;
    height: 23px;
    text-align: left;
    font: normal normal medium 16px/25px 'Poppins';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;

}
.box2{
    position: absolute;
    top: 17px;
    left: 1084px;
    width: 181px;
    height: 46px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    opacity: 1;
}
.box3{
    position:absolute;
    top: 81px;
    left: 610px;
    width: 147px;
    height: 147px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    border-radius: 147px;
}
.logo{
    position:absolute;
    top: 105px;
    left: 649px;
    width: 68px;
    height: 99px;
    text-align: left;
    font: normal normal 600 70px/106px 'Poppins';
    letter-spacing: 0px;
    color: #EB2929;
    opacity: 1;
}
.heading{
    position: absolute;
    top: 250px;
    left: 306px;
    width: 758px;
    height: 51px;
    text-align: left;
    font: normal normal 600 36px/55px 'Poppins';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.box4{
    position: absolute;
    top: 339px;
    left: 312px;
    width: 245px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.box5{
    position: absolute;
    top: 339px;
    left: 578px;
    width: 477px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.selectlocation{
    position: absolute;
    top: 360px;
    left: 335px;
    width: 165px;
    height: 21px;
    text-align: left;
    font: normal normal normal 15px/23px 'Poppins';
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}
.icon{
    position:absolute;
    top: 362px;
    left: 602px;
    width: 20px;
    height: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.97;
}
.buttonsearch{
    position: relative;
    border: none;
    height:20px;
    width: 20px;
    background-color:#ffffff;
    border-radius: 1px solid black;
}

#circle{
    position:relative;
    height: 12px;
    width:12px;
    left:1px;
    border-radius: 12px;
    border:2px solid #74819E;
    
}
#stick{
    position:relative;
    height:2px;
    width:9px;
    font-weight:0px;
    border: 0px solid #74819E;
    transform: rotate(58deg);
    left:6px;
    border-radius: 2px;
    background-color: #74819E;


}
.findrestaurents{
    position:absolute;
    top: 360px;
    left: 638px;
    width: 167px;
    height: 21px;
    text-align: left;
    font: normal normal normal 15px/23px 'Poppins';
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;

}
span{
    position:absolute;
    top: 528px;
    left: 113px;
    width: 239px;
    height: 43px;
    text-align: left;
    font: normal normal bold 30px/46px 'Poppins';
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
p{
    position: absolute;
    top: 578px;
    left: 113px;
    width: 331px;
    height: 25px;
    text-align: left;
    font: normal normal normal 18px/27px 'Poppins';
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu1{
    position: absolute;
    top: 636px;
    left: 113px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
img{
    position: absolute;
    top: 636px;
    left: 113px;
    width: 160px;
    height: 160px;
    opacity: 1;
}
.description1{
    position: absolute;
    top: 661px;
    left: 302px;
    width: 88px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px 'Poppins';
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;
}
.exclusive1{
    position: absolute;
    top: 690px;
    left: 302px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px 'Poppins';
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu2{
    position: absolute;
    top: 636px;
    left: 503px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.lunch{
    position:absolute;
    top: 636px;
    left: 503px;
    width: 160px;
    height: 160px;
    opacity: 1;
}
.description2{
    position: absolute;
    top: 661px;
    left: 692px;
    width: 55px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;
}
.exclusive2{
    position: absolute;
    top: 690px;
    left: 692px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu3{
    position:absolute;
    top: 636px;
    left: 893px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;

}
.snacks{
    top: 636px;
    left: 893px;
    width: 160px;
    height: 160px;
    opacity: 1;
}
.description3{
    position: absolute;
    top: 661px;
    left: 1082px;
    width: 66px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;
}
.exclusive3{
    position: absolute;
    top: 690px;
    left: 1082px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu4{
    position: absolute;
    top: 822px;
    left: 113px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.dinner{
    position: absolute;
    top: 822px;
    left: 113px;
    width: 160px;
    height: 160px;
    opacity: 1;
}
.description4{
    position: absolute;
    top: 847px;
    left: 302px;
    width: 60px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;

}
.exclusive4{
    position: absolute;
    top: 876px;
    left: 302px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu5{
    position: absolute;
    top: 822px;
    left: 503px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.drinks{
    position: absolute;
    top: 822px;
    left: 503px;
    width: 160px;
    height: 160px;
    opacity: 1;
    
}
.description5{
    position: absolute;
    top: 847px;
    left: 692px;
    width: 57px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;
}
.exclusive5{
    position: absolute;
    top: 876px;
    left: 692px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
.menu6{
    position: absolute;
    top: 822px;
    left: 893px;
    width: 360px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.nightlife{
    position: absolute;
    top: 822px;
    left: 893px;
    width: 160px;
    height: 160px;
    opacity: 1;
}
.description6{
    position: absolute;
    top: 847px;
    left: 1082px;
    width: 77px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    text-decoration: none;
}
.exclusive6{
    position: absolute;
    top: 876px;
    left: 1082px;
    width: 138px;
    height: 62px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    opacity: 1;
}
@media (max-width:500px){
    *{
        padding: 0;
        margin: 0;
    }
    body{
        position: absolute;
        top: 0px;
        left:0px;
        height:1209px;
        width:490px;
        padding: 0;
        margin: 0;
        
        
        
    }
    header{
        background: linear-gradient(180deg, #9D0E0E00 0%, #4F0707 100%) 0% 0% no-repeat padding-box,url('img.jpg');
        position:relative;
        top: 0px;
        left: 0px;
        width: 490px;
        height: 480px;
        mix-blend-mode: multiply;
        opacity: 1;
        margin: 0px;
        
        
        
    
        
        
    }
    .box1{
        display: none;
        
    }
    .login a{
        
        display: none;
    }
    .Create a{
        display: none;

    }
    .box2{
        display: none;
    }
    .box3{
        top: 59px;
        left: 164px;
        width: 90px;
        height: 90px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        opacity: 1;
    }
    .logo{
        position:absolute;
        top: 74px;
        left: 188px;
        width: 41px;
        height: 59px;
        text-align: left;
        font: normal normal 600 42px/63px Poppins;
        letter-spacing: 0px;
        color: #EB2929;
        opacity: 1;
    }
    .heading{
        position: absolute;
        top: 177px;
        left: 29px;
        width: 370px;
        height: 75px;
        text-align: center;
        font: normal normal 600 28px/36px Poppins;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }
    .box4{
        position: absolute;
        top: 277px;
        left: 37px;
        width: 364px;
        height: 60px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .box5{
        top: 362px;
        left: 37px;
        width: 364px;
        height: 60px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    .selectlocation{
        position: absolute;
        top: 297px;
        left: 57px;
        width: 165px;
        height: 21px;
        text-align: left;
        font: normal normal normal 15px/23px Poppins;
        letter-spacing: 0px;
        color: #636F88;
        opacity: 1;
    }
    .icon{
        position:absolute;
        top: 385px;
        left: 61px;
        width: 20px;
        height: 20px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 0.97;
    }
    .buttonsearch{
        position: relative;
        border: none;
        height:20px;
        width: 20px;
        background-color:#ffffff;
        border-radius: 1px solid black;
    }
    
    #circle{
        position:relative;
        height: 12px;
        width:12px;
        left:1px;
        border-radius: 12px;
        border:2px solid #74819E;
        
    }
    #stick{
        position:relative;
        height:2px;
        width:9px;
        font-weight:0px;
        border: 0px solid #74819E;
        transform: rotate(58deg);
        left:6px;
        border-radius: 2px;
        background-color: #74819E;
    
    
    }
    .findrestaurents{
        position:absolute;
        top: 383px;
        left: 97px;
        width: 167px;
        height: 21px;
        text-align: left;
        font: normal normal normal 15px/23px 'Poppins';
        letter-spacing: 0px;
        color: #636F88;
        opacity: 1;
    
    }
    span{
        position:absolute;
        top: 515px;
        left: 30px;
        width: 192px;
        height: 33px;
        text-align: left;
        font: normal normal bold 24px/35px 'Poppins';
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
    }
    p{
        position: absolute;
        top: 562px;
        left: 30px;
        width: 257px;
        height: 20px;
        text-align: left;
        font: normal normal normal 14px/21px 'Poppins';
        letter-spacing: 0px;
        color: #8C96AB;
        opacity: 1;
    }
    .menu1{
        position: absolute;
        top: 607px;
        left: 30px;
        width: 360px;
        height: 160px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    img{
        position: absolute;
        top: 607px;
        left: 30px;
        width: 160px;
        height: 160px;
        opacity: 1;
    }
    .description1{
        position: absolute;
        top: 632px;
        left: 219px;
        width: 88px;
        height: 25px;
        text-align: left;
        font: normal normal 600 18px/27px 'Poppins';
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
    }
    .exclusive1{
        position: absolute;
        top: 661px;
        left: 219px;
        width: 138px;
        height: 62px;
        text-align: left;
        font: normal normal normal 14px/21px 'Poppins';
        letter-spacing: 0px;
        color: #8C96AB;
        opacity: 1;
    }
    .menu2{
        position: absolute;
        top: 797px;
        left: 30px;
        width: 360px;
        height: 160px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    .lunch{
        position:absolute;
        top: 797px;
        left: 30px;
        width: 160px;
        height: 160px;
        opacity: 1;
    }
    .description2{
        position: absolute;
        top: 822px;
        left: 219px;
        width: 55px;
        height: 25px;
        text-align: left;
        font: normal normal 600 18px/27px Poppins;
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
    }
    .exclusive2{
        position: absolute;
        top: 851px;
        left: 219px;
        width: 138px;
        height: 62px;
        text-align: left;
        font: normal normal normal 14px/21px Poppins;
        letter-spacing: 0px;
        color: #8C96AB;
        opacity: 1;
    }
    .menu3{
        position:absolute;
        top: 979px;
        left: 30px;
        width: 360px;
        height: 160px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    
    }
    .snacks{
        top: 979px;
        left: 30px;
        width: 160px;
        height: 160px;
        opacity: 1;
    }
    .description3{
        position: absolute;
        top: 1004px;
        left: 219px;
        width: 66px;
        height: 25px;
        text-align: left;
        font: normal normal 600 18px/27px Poppins;
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
    }
    .exclusive3{
        position: absolute;
        top: 1033px;
        left: 219px;
        width: 138px;
        height: 62px;
        text-align: left;
        font: normal normal normal 14px/21px Poppins;
        letter-spacing: 0px;
        color: #8C96AB;
        opacity: 1;
    }
    .menu4{
        display: none;
    }
    .dinner{
        display: none;
    }
    .description4{
        display: none;
    
    }
    .exclusive4{
        display: none;
    }
    .menu5{
        display: none;
    }
    .drinks{
        display: none;
        
    }
    .description5{
       display: none;
    }
    .exclusive5{
        display: none;
    }
    .menu6{
        display: none;
    }
    .nightlife{
       display: none;
    }
    .description6{
        display: none;
    }
    .exclusive6{
        display: none;
    }



}